<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Osciloskopas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISendChatService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1234/Chat/ChatService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISendChatService"
                contract="ChatService.ISendChatService" name="NetTcpBinding_ISendChatService" />
        </client>
    </system.serviceModel>
<userSettings>
        <Osciloskopas.Properties.Settings>
                <setting name="LastCom" serializeAs="String">
                        <value>3</value>
                </setting>
        </Osciloskopas.Properties.Settings>
    </userSettings>
</configuration>
